{% load static %}
<!DOCTYPE html>
<style>
  body {
    margin-top: 20px;
    background-color: #eee;
  }

  .search-result-categories > li > a {
    color: #b6b6b6;
    font-weight: 400;
  }

  .search-result-categories > li > a:hover {
    background-color: #ddd;
    color: #555;
  }

  .search-result-categories > li > a > .glyphicon {
    margin-right: 5px;
  }

  .search-result-categories > li > a > .badge {
    float: right;
  }

  .search-results-count {
    margin-top: 10px;
  }

  .search-result-item {
    padding: 20px;
    background-color: #fff;
    /* border-radius: 4px; */
    border-bottom: 1px solid #eaeaea;
  }

  .search-result-item:after,
  .search-result-item:before {
    content: " ";
    display: table;
  }

  .search-result-item:after {
    clear: both;
  }

  .search-result-item .image-link {
    display: block;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  @media (min-width: 768px) {
    .search-result-item .image-link {
      display: inline-block;
      margin: -20px 0 -20px -20px;
      float: left;
      width: 200px;
    }
  }

  @media (max-width: 767px) {
    .search-result-item .image-link {
      max-height: 200px;
    }
  }

  .search-result-item .image {
    max-width: 100%;
  }

  .search-result-item .info {
    margin-top: 2px;
    font-size: 12px;
    color: #999;
  }

  .search-result-item .description {
    font-size: 20px;
  }

  .search-result-item + .search-result-item {
    margin-top: 20px;
  }

  @media (min-width: 768px) {
    .search-result-item-body {
      margin-left: 50px;
    }
  }

  .search-result-item-heading {
    font-weight: 400;
  }

  .search-result-item-heading > a {
    color: #555;
  }

  @media (min-width: 768px) {
    .search-result-item-heading {
      margin: 0;
    }
  }
</style>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <title>Coding for Entrepreneurs is doing Try Django</title>
  </head>
  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-dark justify-content-between"">
      <a class="navbar-brand" href="/" style="color:white">
        Testes COVID-19
      </a>
      <a href="/criar" class="navbar-brand" style="color:white">Adicionar novos registros
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="green" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
              </svg>
      </a>
    </nav>
    {% block content %} replace me {% endblock %}
  </body>
</html>
