{% extends 'base.html' %} {% block content %}

<div style="margin:20px;">
  <form action="." method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
  </form>
</div>

{% endblock %}
